<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container-fluid flex-column">
<div class="row w-100">
<div class="col-sm-12 navbar-top-section">
    <a class="navbar-brand my-brand" href="/"><span class="brand-span">Home</span>Page</a>
    <ul class="navbar-nav navbar-nav-top-section">
        <li class="nav-item active">
        <form class="my-search-form" action="/" method="GET">
        <input class="my-search-user" type="text" name="name" placeholder="başlık,@yazar">
        <button class="my-search-btn" type="submit">Search</button>
        </form>
        </li>
    </ul>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarID">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
</div>
<div  class="row w-100">
<div class="col-sm-12 navbar-bottom-section">
    <div class="collapse navbar-collapse" id="navbarID">
        <ul class="navbar-nav navbar-nav-bottom-section">
        <li class="nav-item active nav-item-my">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li class="d-md-none d-sm-inline nav-item active nav-item-my">
        <a class="nav-link" href="/today">Bugün</a>
        </li>
        <% if (loggedIn){ %>
         <li class="nav-item active nav-item-my">
         <a class="nav-link" href="/post/new-title">Başlık Aç</a>
         </li>
         <li class="nav-item active nav-item-my">
         <a class="nav-link" href="/messagebox/<%=userName.user.nick.replace(/\s/g , "-")%>">Mesajlar</a>
         </li>
         <% } else {%>
         <li class="nav-item active nav-item-my">
         <a class="nav-link" href="/new-user">Kayıt</a>
         </li>
         <li class="nav-item active nav-item-my">
         <a class="nav-link" href="/user/login">Giriş</a>
         </li>
         <% } %>
         <li class="nav-item">
            <button onclick="toggleTheme()" class="theme-btn"><i class="far fa-lightbulb"></i></button>
        </li>
         <% if (loggedIn){ %>
            <li class="nav-item active">
                <div class="dropdown">
                    <button class="btn dropdown-btn dropdown-toggle header-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                     <span class="d-none d-md-inline">Profil</span>
                    </button>
                    <div class="dropdown-menu navbar-drop" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item dropdown-item-header" href="/pages/<%=userName.user.nick.replace(/\s/g , "-")%>">Ben</a>
                      <a class="dropdown-item dropdown-item-header" href="/messagebox/<%=userName.user.nick.replace(/\s/g , "-")%>">Mesajlar</a>
                      <a class="dropdown-item dropdown-item-header" href="/library/<%=userName.user.nick.replace(/\s/g , "-")%>">Kitaplık</a>
                      <a class="dropdown-item dropdown-item-header" href="/user/dashboard">Ayarlar</a>
                      <a class="dropdown-item dropdown-item-header" href="/logout">Çıkış</a>
                    </div>
                  </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>
</div>
</div>
</nav>
    