<%if (typeof titleError != "undefined") {%> <% titleError.forEach(error => {
    %> 
    <div class="alert alert-warning form-alert mt-2 col-md-6 offset-md-3 text-center text-dark">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <strong><%= error.msg %> !</strong>
    </div>
     <% }) %> <%}%>