<h2 class="my-title">new post</h2>
<div class="new-post-container">
  <form class="new-post-form" action="/post/new" method="POST">
    <label>Title</label>
    <input class="new-todo-input" type="text" name="title" value="" />
    <label>Content</label>
    <textarea class="new-textarea" cols="40" rows="10" type="text" name="todo" value=""></textarea>
    <input class="d-none new-todo-input" type="text" name="postNick" value="<%= user.nick %>"/>
    <button class="my-2 btn btn-sm btn-primary d-inline" type="submit">Send</button>
    <a class="my-2 btn btn-sm btn-outline-info" href="/user/dashboard">Cancel</a>
  </form>
</div>
