<div class="container-fluid">
    <%-include('../partials/titleErrorMessage')%>
    <div class="row">
        <div class="col-md-4 d-block mx-auto text-center">
            <h3 class="my-3">Başlık Aç</h3>
            <form action="/post/new-title" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="contentTitle" value="<%= typeof contentTitle != 'undefined' ? contentTitle : '' %>">
                    <input class="form-control d-none" type="text" name="openTitleUser" value="<%=userName.user.nick%>">
                    <button class="btn btn-sm btn-success my-3" type="submit">Başlık açılsın lütfen</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  