<div class="d-none d-md-block col-md-3 mt-3 title-container title-title">
  <div class="page-selection-container">
    <span class="page-select" name="page" id="">
      <% if (pages > 0) { %>
        <% if (current == 1) { %>
          <a class="btn btn-sm btn-pagenation disabled" data-toggle="tooltip" data-placement="bottom" title="İlk Sayfa">İlk Sayfa</a>
      <% } else { %>
          <a class="btn btn-sm btn-pagenation" data-toggle="tooltip" data-placement="bottom" title="İlk Sayfa" href="?page=1">İlk Sayfa</a>
      <% } %>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
        <a class="btn btn-sm btn-pagenation disabled">....</a>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <a class="active btn btn-sm btn-pagenation"><%=i%></a>
        <% } else { %>
            <a class="btn btn-sm btn-pagenation" href="?page=<%= i %>"><%= i %></a>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
            <a class="disabled btn btn-sm btn-pagenation">...</a>
        <% } %>
    <% } %>
    <% if (current == pages) { %>
        <a class="disabled btn btn-sm btn-pagenation">Son Sayfa</a>
    <% } else { %>
        <a class="btn btn-sm btn-pagenation" href="?page=<%= pages %>">Son Sayfa</a>
    <% } %>
    </span>
  </div>
  <ul class="title-ul" id="title-list">
    <% title.forEach(item => { %>
    <li class="title-li title-li-theme">
      <a class="title-a" href="entry/<%= item.contentTitle %>"><%= item.contentTitle.replace(/-/g, ' ')%></a>
    </li>
    <% }) %>
  </ul>
  </div>
  <div class="col-md-9">
    <% if (userQuery != '' && userQuery != undefined) { %>
      <p class="title-type">yazarlar</p>
     <% userQuery.forEach(user => { %>
      <div class="user-search-result d-block mx-auto text-center">
        <a class="user-link" href="/pages/<%=user.nick.replace(/\s/g ,"-")%>"><small>@<%=user.nick%></small></a>
      </div>
     <% }) %>
    <% } else if(userQuery == ''){%>
      <p class="title-type">yazar</p>
      <div class="user-search-result d-block mx-auto text-center">
        <small class="text-success">bulunamadı...</small>
      </div>
      <% }%>
    <% if (titleQuery != '' && titleQuery != undefined) { %>
      <p class="title-type">başlıklar</p>
      <% titleQuery.forEach(title => { %>
        <div class="user-search-result d-block mx-auto text-center">
          <a class="user-link" href="/entry/<%=title.contentTitle.replace(/\s/g ,"-")%>"><i class="fas fa-comments mr-1"></i><small><%=title.contentTitle%></small></a>
        </div>
       <% }) %>
    <% }else if(titleQuery == ''){ %>
      <p class="title-type">başlık</p>
      <div class="user-search-result d-block mx-auto text-center">
        <small class="text-success">bulunamadı...</small>
      </div>
      <% }%>
<% for (let i = 0, length = todos.length; i< length; i += 1) { %>
    <div class="card mt-3">
      <div class="card-header bg-dark card-t">
        <p class="h6 d-inline entry-location-from-p">İlgili Başlık: </p><a class="text-light" href="entry/<%=todos[i].entryTitle%>"><%=todos[i].entryTitle.replace(/-/g, ' ')%></a>
      </div>
      <div class="card-body entry-content-container card-m">
        <p class="card-title entry-p"><%=todos[i].entry%></p>
      </div>
      <div class="card-footer text-muted bg-dark card-f">
        <div class="user-btn-container">
          <% if (todos[i].commentArray.length > 0) { %>
            <a class="btn-sm btn-outline-primary link-btn as" data-toggle="collapse" href="#commentList<%=todos[i]._id%>" role="button">
              Yorumlar <small class="comment-length"><%=todos[i].commentArray.length%></small> 
            </a>
          <% } %>
          <!-- like trigger show here -->
          <% if (todos[i].likeArray.length > 0) { %>
            <a class="btn-sm btn-outline-primary link-btn as"  data-toggle="collapse" href="#likeList<%=todos[i]._id%>" role="button">
            Beğeniler <small class="comment-length"><%=todos[i].likeArray.length%></small> 
            </a>
          <% } %>
          <% if (todos[i].http != '' || todos[i].httpName != '') { %>
            <a class="btn-sm btn-outline-warning link-btn" data-toggle="collapse" href="#link<%=todos[i]._id%>" role="button">
              Linkler
            </a>
        <% } %>
          <!-- if login show delete and edit button -->
          <!-- like form -->
          <% if (loggedIn) { %>
            <!-- <form class="like-form mx-2" method="POST" action="/<%=todos[i]._id%>/completed">
               <button class="like-btn mx-2" data-toggle="tooltip" data-placement="bottom" title="Beğendim" type="submit"><i class="fas fa-chevron-up"></i></button>
              <button class="unlike-btn mx-2" data-toggle="tooltip" data-placement="bottom" title="Beğenmekten vazgeçtim" type="submit"><i class="fas fa-chevron-down"></i></button>
            </form> -->
          <% } %>
      </div>
       <!-- like list show toggle -->
       <div class="collapse mt-3" id="likeList<%=todos[i]._id%>">
        <div class="bg-collapse p-3 card-t">
          <small class="text-center font-italic">beğenmek ve yorum yapmak için ilgili başlığa gidebilirsin...</small>
          <% todos[i].likeArray.forEach(like => { %>
            <div class="comment-container p-2 mt-2">
              <small>+</small><a class="user-link" href="/pages/<%= like.likeNick.replace(/\s/g ,"-")%>"><small class="like-person"><%= like.likeNick %></small></a>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="collapse mt-3" id="commentList<%=todos[i]._id%>">
        <div class="bg-collapse p-3 card-t">
          <small class="text-center font-italic">beğenmek ve yorum yapmak için ilgili başlığa gidebilirsin...</small>
          <% todos[i].commentArray.forEach(comment => { %>
            <div class="comment-container p-2 mt-2">
              <small>yorum sahibi:  </small><a class="user-link" href="/pages/<%= comment.commentNick.replace(/\s/g ,"-")%>"><small><%= comment.commentNick %></small></a> <span class="date-time-container float-right">
                <small><%=comment.commentDate%></small>
                <small><%=comment.commentTime%></small>
              </span><br>
              <p><%= comment.comment %></p>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="collapse mt-3" id="link<%=todos[i]._id%>">
        <div class="bg-collapse p-3 card-t">
          <% if (todos[i].httpName != '') { %>
            <a class="http-link-a" href="<%=todos[i].http%>" target="_blank"><%=todos[i].httpName%></a>
            <% }else {%> 
              <a class="http-link-a" href="<%=todos[i].http%>" target="_blank">link(no-name)</a>
            <% } %>
        </div>
      </div>
        <!-- if login show delete and edit button -->
        <div class="edit-info-div d-flex mr-2 p-0 float-right">
          <% if (todos[i].editFlag === true) { %>
            <p class="entry-date"><small>edit: </small></p>
            <p class="entry-date"><small><%= todos[i].editDate %> / </small></p>
            <p class="entry-date"><small><%= todos[i].editTime %></small>~</p>
            <% } %>
            <p class="entry-date"><small><%= todos[i].date %></small> / </p>
            <p class="mr-3 entry-date"><small><%= todos[i].time %></small></p>
            <a class="user-link" href="/pages/<%= todos[i].postNick.replace(/\s/g ,"-")%>"><small><%= todos[i].postNick %></small></a>
            
            <% if (loggedIn && (userName.user.nick === todos[i].postNick)){ %>
              <div class="dropdown">
                  <button class="btn btn-sm dropdown-btn dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                      <a class="dropdown-item text-warning" href="/edit/<%=todos[i]._id%>">Düzelt</a>
                      <a class="dropdown-item text-danger" href="/sil/<%=todos[i].entry%>">Sil</a>
                   </div>
                </div>
              <% }%>
          </div>
      </div>
    </div>
    <% } %>
  </div>
<script>
</script>
