<div class="col-md-8 offset-md-2 text-center">
    <div class="library-detail-title">
        <a class="btn btn-sm btn-success back-library-btn" href="/library/<%=userName.user.nick.replace(/\s/g,"-")%>"><i class="fas fa-backward"></i> Kitaplığa Dön</a>
        <h3 class="text-center library-title"><p class="text-secondary d-inline h4">Kitaplık Detayı:</p> <%=title.replace(/-/g, ' ')%></h3>
    </div>
<% if (flashMessage != undefined) { %>
    <div id="success-alert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
      <p><%= flashMessage.content %> </p>
      <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
<% user.forEach(item => { %>
    <% if (item.libraryStore.length <= 0) { %>
<h4 class="text-center">Bu başlık detayında entry yok hepsini silmiş bulunmaktasın.İstersen başlıklara biraz göz gezdirebilrsin. Belki seveceğin bir şeyler çıkar kim bilir ?</h4>
       <% } %>
<% item.libraryStore.forEach(book => { %>
    <% if (title === book.entryTitle) { %>
        <div class="card mt-3">
        <div class="card-header bg-dark card-t">
        <p class="h6 d-inline entry-location-from-p">İlgili Başlık: </p><a class="text-light" href="entry/<%= book.entryTitle %>"><%=book.entryTitle.replace(/-/g, ' ')%></a>
        <a data-placement="bottom" title="Kaldır" class="delete-library-title btn btn-danger btn-sm" href="/library/sil/detail/<%= book.entryTitle %>/<%=book.entry%>"><i class="fas fa-trash-alt"></i></a>
        </div>
        <div class="card-body entry-content-container card-m">
            <p class="card-title entry-p"><%=book.entry%></p>
        </div>
        <div class="card-footer text-muted bg-dark card-f">
            <div class="edit-info-div d-flex mr-2 p-0 float-right">
                <% if (book.editFlag === true) { %>
                    <p class="entry-date"><small>edit: </small></p>
                    <p class="entry-date"><small><%= book.editDate %> / </small></p>
                    <p class="entry-date"><small><%= book.editTime %></small>~</p>
                <% } %>
                <p class="entry-date"><small><%= book.date %></small> / </p>
            <p class="mr-3 entry-date"><small><%= book.time %></small></p>
            <a class="user-link" href="/pages/<%= book.postNick.replace(/\s/g ,"-")%>"><small><%= book.postNick %></small></a>
            </div>
        </div>
        </div>
   <% } %>
<% }) %>
<% }) %>
</div>
<script>
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})

$("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>