<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center my-3 library-title">Kitaplık</h3>
            <% if (flashMessage != undefined) { %>
                <div id="success-alert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
                  <p><%= flashMessage.content %> </p>
                  <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% } %>
        </div>
    </div>
</div>
<div class="library-div">
    <% if (user.length <= 0) { %>
    <h4>Kitaplıkta entry başlığı bulunmamakta. İstersen başlıklara biraz göz gezdirebilrsin.</h4>
       <% } %>
    <% user.forEach(item => { %>
        <div class="library-selection m-3" role="alert">
            <a class="library-link" href="/library/<%= item.entryTitle %>/detail"><%= item.entryTitle.replace(/-/g, ' ')%></a>
            <a data-placement="bottom" title="Kaldır" class="delete-library-title btn btn-danger btn-sm" href="/library/sil/<%= item.entryTitle %>"><i class="fas fa-trash-alt"></i></a>
        </div>
    <% }) %>
</div>
<script>
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})

$("#success-alert").fadeTo(2500, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>