<div class="container text-light p-5">
    <div class="row">
        <div class="col-md-6 d-block mx-auto bg-dark p-5">
            <div class="register-header">
                <h1>Giriş Yap</h1>
            </div>
            <form method="POST" action="/user/login" class="mt-5">
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" name="email" class="form-control" id="email" value="<%= typeof email != 'undefined' ? email : '' %>" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" <%= typeof password != 'undefined' ? password : '' %> >
                </div>
                <button type="submit" class="btn btn-success d-block mx-auto">Giriş</button>
                <small class="form-text text-muted d-inline">Hesabınız yoksa kayıt için</small>
                <a type="submit" href="/new-user" class="text-light font-weight-bold">Register</a>
            </form>
        </div>
    </div>
</div>
