<div class="col-lg-4 px-3 mt-4">
  <p class="text-success text-center my-2 font-italic">Profil Resmi</p>
  <div id="profilImg" class="public-profile-img">
    <% userPic.forEach(userPicture => { %>
      <img src="<%=userPicture.profileImg%>" class="profile-img" alt="profile-img">
    <% }) %>
  </div>
</div>

<div class="col-lg-8">
  <div class="d-flex justify-content-center public-title">
    <p class="my-title lead mx-3"><span class="user-name-span">Azimli-</span><%=user%></p>
    <p class="my-title lead mx-3"><span class="user-name-span">entry'ler(<%=entry.length%>)</span><p>
    <% if (loggedIn && (user != userName.user.nick)) { %>
    <a class="btn btn-success btn-sm" href="/message/<%=user.replace(/\s/g,"-")%>">mesaj gönder</a>
    <% } %>
    </div>
  <% entry.forEach(entry => { %>
    <div class="card mt-3">
      <div class="card-header bg-dark card-t">
        <p class="h6 d-inline entry-location-from-p">İlgili Başlık: </p><a class="text-light" href="entry/<%=entry.entryTitle%>"><%=entry.entryTitle.replace(/-/g, ' ')%></a>
      </div>
      <div class="card-body entry-content-container card-t">
        <p class="card-title entry-p"><%=entry.entry%></p>
      </div>
      <div class="card-footer text-muted bg-dark card-t">
        <div class="user-btn-container">
          <% if (loggedIn) { %>
            <a class="btn-sm btn-outline-success link-btn" data-toggle="collapse" href="#comment<%=entry._id%>" role="button">
              Yorum Ekle
            </a>
          <% } %>
        <% if (entry.commentArray.length > 0) { %>
          <a class="btn-sm btn-outline-primary link-btn as" data-toggle="collapse" href="#commentList<%=entry._id%>" role="button">
            Yorumlar <small class="comment-length"><%=entry.commentArray.length%></small> 
          </a>
        <% } %>
        <!-- like trigger show here -->
        <% if (entry.likeArray.length > 0) { %>
          <a class="btn-sm btn-outline-primary link-btn as"  data-toggle="collapse" href="#likeList<%=entry._id%>" role="button">
          Beğeniler <small class="comment-length"><%=entry.likeArray.length%></small> 
          </a>
        <% } %>
        <% if (entry.http != '' || entry.httpName != '') { %>
            <a class="btn-sm btn-outline-warning link-btn" data-toggle="collapse" href="#link<%=entry._id%>" role="button">
              Linkler
            </a>
        <% } %>
        <% if (loggedIn) { %>
          <form class="like-form" method="POST" action="/<%=entry._id%>/completed">
            <!-- <button class="like-btn" data-toggle="tooltip" data-placement="bottom" title="Beğendim" type="submit"><i class="fas fa-chevron-up"></i></button>
            <button class="unlike-btn mx-2" data-toggle="tooltip" data-placement="bottom" title="Beğenmekten vazgeçtim" type="submit"><i class="fas fa-chevron-down"></i></button> -->
          </form>
        <% } %>
        </div>
        <div class="collapse mt-3" id="link<%=entry._id%>">
          <div class="bg-collapse p-3 card-t">
            <% if (entry.httpName != '') { %>
              <a class="http-link-a" href="<%=entry.http%>" target="_blank"><%=entry.httpName%></a>
              <% }else {%> 
                <a class="http-link-a" href="<%=entry.http%>" target="_blank">link(no-name)</a>
              <% } %>
          </div>
        </div>
        <div class="collapse mt-3" id="comment<%=entry._id%>">
          <div class="bg-collapse p-3">
           <form method="POST" action="/comment/<%=entry._id%>">
            <textarea class="p-2 d-block mx-auto" name="comment" id="#" cols="60" rows="4" placeholder="comment"></textarea>
            <button class="btn btn-sm btn-outline-secondary btn-comment-post" type="submit">Comment</button>
          </form>
          </div>
        </div>
        <!-- comment list show toggle -->
        <div class="collapse mt-3" id="commentList<%=entry._id%>">
          <div class="bg-collapse p-3 card-t">
            <small class="text-center font-italic">beğenmek ve yorum yapmak için ilgili başlığa gidebilirsin...</small>
            <% entry.commentArray.forEach(comment => { %>
              <div class="comment-container p-2 mt-2">
                <small>yorum sahibi:  </small><a class="user-link" href="/pages/<%= comment.commentNick.replace(/\s/g ,"-")%>"><small><%= comment.commentNick %></small></a> <span class="date-time-container float-right">
                  <small><%=comment.commentDate%></small>
                  <small><%=comment.commentTime%></small>
                </span><br>
                <p><%= comment.comment %></p>
              </div>
            <% }) %>
          </div>
        </div>
        <!-- like list show toggle -->
        <div class="collapse mt-3" id="likeList<%=entry._id%>">
          <div class="bg-collapse p-3 card-t">
            <small class="text-center font-italic">beğenmek ve yorum yapmak için ilgili başlığa gidebilirsin...</small>
            <% entry.likeArray.forEach(like => { %>
              <div class="comment-container p-2 mt-2">
                <small>+</small><a class="user-link" href="/pages/<%= like.likeNick.replace(/\s/g ,"-")%>"><small><%= like.likeNick %></small></a>
              </div>
            <% }) %>
          </div>
        </div>
        <div class="edit-info-div d-flex mr-2 p-0 float-right">
          <% if (entry.editFlag === true) { %>
            <p class="entry-date"><small>edit: </small></p>
            <p class="entry-date"><small><%= entry.editDate %> / </small></p>
            <p class="entry-date"><small><%= entry.editTime %></small>~</p>
            <% } %>
            <p class="entry-date"><small><%= entry.date %></small> / </p>
            <p class="mr-3 entry-date"><small><%= entry.time %></small></p>
            <a class="user-link" href="/pages/<%= entry.postNick.replace(/\s/g ,"-")%>"><small><%= entry.postNick %></small></a>
            <% if (loggedIn && (userName.user.nick === entry.postNick)){ %>
              <div class="dropdown">
                  <button class="btn btn-sm dropdown-btn dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item text-warning" href="/edit/<%=entry._id%>">Düzelt</a>
                      <a class="dropdown-item text-danger" href="/sil/<%=entry.entry%>">Sil</a>
                    
                    </div>
                  </div>
            <% }%>
          </div>
      </div>
    </div>
    <% }) %>
</div>