<div class="container text-light p-5">
    <div class="row">
        <%-include('../partials/message')%>
        <div class="col-md-6 d-block mx-auto bg-dark p-5">
            <div class="register-header">
                <h1>Kayıt Ol</h1>
            </div>
            <form method="POST" action="/new-user" class="mt-5">
                <div class="form-group">
                    <label for="name">Nick Name</label>
                    <input type="text" name="nick" class="form-control" id="name" value="<%= typeof name != 'undefined' ? name : '' %>" >
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" name="email" class="form-control" id="email" value="<%= typeof email != 'undefined' ? email : '' %>" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password"<%= typeof password != 'undefined' ? password : '' %> >
                </div>
                <button type="submit" class="btn btn-success d-block mx-auto">Kayıt ol</button>
                <small class="form-text text-muted d-inline">Hesabınız varsa giriş için</small>
                <a type="submit" href="/user/login" class="text-light font-weight-bold">Login</a>
            </form>
        </div>
    </div>
</div>
