<div class="container">
<div class="row">
<div class="col-md-8 offset-md-2">
    <div class="messageBox-title">
    <h4 class="my-2"><span class="message-box">@Gelen</span> Mesajlar</h4>
    <a class="btn btn-success btn-sm" href="/messagebox/<%=userName.user.nick.replace(/\s/g ,"-")%>">Mesajlar Kutusu Tez Gelsin</a>
    </div>
<% collection.forEach(message => { %>
    <% if (message.messageBox.length > 0) { %>
    <% message.messageBox.forEach(messageText => { %>
    <div class="card mesaj-card mb-2">
        <div class="card-body message-card">
        <a class="card-title text-dark font-weight-bold" href="/pages/<%=messageText.whoSend.replace(/\s/g,"-")%>">Gönderen:--><%=messageText.whoSend%></a>
        <p class="card-text text-dark"><%=messageText.message%></p>
        <small><%=messageText.mTime%>-/-<%=messageText.mDate%></small>
    </div>
    <div class="card-footer mesaj-card-footer">
        <a class="card-ilnk" href="/message/<%=messageText.whoSend.replace(/\s/g , "-")%>">Cevapla</a>
        <a class="text-danger ml-2" href="/message/sil/<%=messageText._id%>">Sil</a>
    </div>
    </div>
    <% }) %>
    <% } else {%>
<div class="messageBox-title text-center">
<h4 class="my-2">Mesaj Kutusu Boş</h4>
</div>
<% } %>
<% }) %>
</div>
</div>
</div>