<div class="container">
<div class="row">
<div class="col-md-8 offset-md-2">
    <%-include('../partials/messageSendMessage')%>
<div class="messageBox-title text-center">
<h4 class="my-2">Mesaj Gönder</h4>
</div>
<div class="card mesaj-card">
    <div class="card-body">
        <p class="card-title text-dark">Gönderen-->><%=whoLogin%></p>
        <h5 class="card-text text-danger">Alıcı-->><%=nick%></h5>
    </div>
</div>
<form class="mx-auto d-block text-center mt-2" method="post" action="/message/<%=nick%>">
    <div class="form-group">
        <textarea required class="form-control entry-textarea bg-dark text-white message-form" cols="70" rows="10" ctype="text" placeholder="Alıcı-->><%=nick%>" name="message"></textarea>
        <input class="d-none" type="text" name="postNick" value="<%=whoLogin%>" />
    </div>
  <button class="btn btn-sm btn-success" type="submit" onclick="trying()">Gönder</button>
</form>
</div>
</div>
</div>            
</div>