<div class="container-fluid">
<div class="row">
<div class="col-md-5 mx-auto">
    <div class="messageBox-title">
        <h4 class="my-2"><span class="message-box">@Gelen</span> Mesajlar</h4>
         <a class="btn btn-success btn-sm" href="/messagebox/<%=userName.user.nick.replace(/\s/g ,"-")%>/inbox">Gelen Mesajları Filtrele</a>
    </div>
    <% collection.forEach(message => { %>
        <% if (message.messageBox.length > 0) { %>
        <% message.messageBox.forEach(messageText => { %>
            <div class="card mesaj-card mb-2">
                <div class="card-body message-card">
                <a class="card-title text-dark font-weight-bold" href="/pages/<%=messageText.whoSend.replace(/\s/g,"-")%>">Gönderen:--><%=messageText.whoSend%></a>
                <p class="card-text text-dark"><%= messageText.message %></p>
                <small><%=messageText.mTime%>-/-<%=messageText.mDate%></small>
                </div>
                <div class="card-footer mesaj-card-footer">
                <a class="card-ilnk" href="/message/<%=messageText.whoSend.replace(/\s/g , "-")%>">Cevapla</a>
                </div>
                </div>
        <% }) %>
        <% } else {%>
        <div class="messageBox-title text-center">
        <h4 class="my-2">Mesaj Kutusu Boş</h4>
        </div>
        <% } %>
        <% }) %>
        </div>
<div class="col-md-5 mx-auto">
    <div class="messageBox-title">
    <h4 class="my-2"><span class="message-box">@Gönderilen</span> Mesajlar</h4>
    <a class="btn btn-success btn-sm" href="/messagebox/<%=userName.user.nick.replace(/\s/g ,"-")%>/sendbox">Gönderilen Mesajları Filtrele</a>
    </div>
    <% collection.forEach(message => { %>
    <% if (message.messageSendBox.length > 0) { %>
    <% message.messageSendBox.forEach(messageText => { %>
        <div class="card mesaj-card mb-2">
        <div class="card-body message-card">
        <a class="card-title text-danger font-weight-bold" href="/pages/<%=messageText.toWho.replace(/\s/g,"-")%>">Gönderilen:--><%=messageText.toWho%></a>
        <p class="card-text text-dark"><%= messageText.sendMessage%></p>
        <small><%=messageText.toWhoMtime%>-/-<%=messageText.toWhoMdate%></small>
        </div>
        <div class="card-footer mesaj-card-footer">
        <h6 class="text-muted" href="">Gönderildi</h6>
        </div>
        </div>
        <% }) %>
        <% } else {%>
        <div class="messageBox-title text-center">
        <h4 class="my-2">Mesaj Kutusu Boş</h4>
        </div>
        <% } %>
        <% }) %>
</div>
    </div>
</div>