<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="messageBox-title">
                <h4 class="">Mesaj Kutusu <span class="message-box">@Gönderilenler</span></h4>
                <a class="btn btn-success btn-sm" href="/messagebox/<%=userName.user.nick.replace(/\s/g ,"-")%>">Mesajlar Kutusu Tez Gelsin</a>
            </div>
            <% collection.forEach(message => { %>
                <% if (message.messageSendBox.length > 0) { %>
                    <% message.messageSendBox.forEach(messageText => { %>
                        <div class="card my-3 mesaj-card mb-2">
                            <div class="card-body message-card">
                                <a class="card-title text-danger font-weight-bold" href="/pages/<%=messageText.toWho.replace(/\s/g,"-")%>">Gönderilen:--><%=messageText.toWho%></a>
                                <p class="card-text text-dark"><%= messageText.sendMessage%></p>
                                <small><%=messageText.toWhoMtime%>-/-<%=messageText.toWhoMdate%></small>
                            </div>
                            <div class="card-footer mesaj-card-footer">
                                <h6 class="text-muted d-inline" href="">Gönderildi</h6>
                                <a class="text-danger ml-2" href="/message/sendbox/sil/<%=messageText._id%>">Sil</a>
                            </div>
                        </div>
                    <% }) %>
                <% } else {%>
                    <div class="messageBox-title text-center">
                        <h4 class="my-2">Mesaj Kutusu Boş</h4>
                    </div>
                    <% } %>
            <% }) %>
        </div>
    </div>
</div>