body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
.theme-dark{
  background-color: #2d2d2d !important;
  color: #bdbdbd;
}
.theme-light{
  background-color:white !important;
  color: #bdbdbd black !important;
}
.card-light{
  background-color:white !important;
  color: #bdbdbd black !important;
  border: 1px solid #7cf01d;
}
.card-light > a{
  color: #1a1717 !important;
}
.card-light > a:hover{
  color: #2d2d2d !important;
}
.card-light > .comment-container{
  border: 1px solid #7cf01d;
}
.my-brand {
  font-weight: 600;
  transition: all 1s ease-in-out;
}
.my-brand:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.brand-span,
.user-name-span {
  color: #81c14b;
  font-weight: 500;
}
.navbar {
  height: auto !important;
  padding: 25px 3% 5px 3% !important;
}
.nav-item-my {
  border-bottom: 6px solid #343a40 !important;
}
.navbar-nav {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center;
  width: 100%;
}
.nav-link {
  color: #bdbdbd;
  font-size: 14px;
}
.nav-item-my:hover {
  border-bottom: 6px solid #81c14b !important;
}
.dropdown {
  color: #bdbdbd !important;
  font-size: 14px;
}
.header-dropdown {
  background: #81c14b !important ;
  font-size: 14px;
}
.dropdown-menu {
  background-color: #2d2d2d !important;
}
.dropdown-item-header {
  color: white !important;
  font-weight: 600 !important;
}
.dropdown-item-header:hover {
  color: #bdbdbd !important;
  font-weight: 600 !important;
  background-color: transparent !important;
}
.title-container {
  border: 1px solid grey;
  height: 600px;
  padding: 0 !important;
  overflow-y: auto;
}
.title-container-light {
  border: 1px solid #7cf01d;
  height: 600px;
  padding: 0 !important;
  overflow-y: auto;
}
.title-ul {
  text-align: center;
  width: 100%;
}
.title-li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbdbd;
}
.title-li-light {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7cf01d;
  color: #1a1717 !important;
}
.title-li-light > a{
color: #2d2d2d !important;
}
.title-li:hover .title-a {
  color: #81c14b !important;
  cursor: pointer;
  background-color: #494949;
  text-decoration: none;
  outline: none;
  list-style: none;
}
.title-li-light:hover .title-a {
  color: #81c14b !important;
  cursor: pointer;
  background-color: #494949;
  text-decoration: none;
  outline: none;
  list-style: none;
}
.title-a {
  color: #bdbdbd !important;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-btn-container {
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
.edit-btn,
.delete-btn,
.link-btn {
  font-size: 10px !important;
  padding: 1px 5px !important;
}
.like-btn{
  font-size: 10px !important;
  padding: 0px !important;
  border: none !important;
  outline: none !important;
  color: #7cf01d;
  background: transparent;
}
.unlike-btn{
  font-size: 10px !important;
  padding: 0px !important;
  border: none !important;
  outline: none !important;
  color: grey;
  background: transparent;
}
.like-form {
  display: flex;
}
/* .like-btn {
  font-size: 10px !important;
  background: #bdbdbd !important ;
  color: #1a1717;
  outline: none;
  border: 1px solid green;
}
.unlike-btn {
  font-size: 10px !important;
  background: #81c14b !important ;
  color: #1a1717;
  outline: none;
  border: 1px solid green;
} */
.entry-content-container {
  background-color: #2d2d2d;
}
.entry-content-container-light {
  background-color: white;
  border:1px solid #7cf01d;
}
.entry-date {
  text-decoration: underline;
}
.entry-location-from-p {
  color: #81c14b;
}
.http-link-a {
  color: #689e3b;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}
.http-link-a:hover {
  color: #7cf01d;
}
.bg-collapse {
  background-color: #2d2d2d !important;
  border-radius: 4px !important;
}
.bg-collapse a {
  display: inline-block !important;
}
.http-btn {
  font-size: 10px;
}
.user-link {
  color: #689e3b;
  transition: all 0.5s ease-in-out;
}
.user-link:hover {
  color: #7cf01d;
}
.my-search-form {
  font-size: 12px;
}
.my-search-user {
  width: 150px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1px 10px;
}
.my-search-btn {
  margin: 0 !important;
  border: none !important;
  outline: none;
  color: white;
  background-color: #689e3b;
  transition: all 0.6s ease-in-out;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.my-search-btn:hover {
  background-color: #7cf01d;
  color: black;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}
.comment-container {
  border: 1px solid #494949;
  border-radius: 4px;
}
.btn-comment-post {
  font-size: 10px !important;
  display: block !important;
  margin: 0.5rem auto !important;
}
.theme-btn {
  background: transparent;
  outline: none;
  border: none;
}
.comment-length{
  background-color: #7cf01d;
  color: black;
  font-weight: 600;
  padding: 1px 3px;
  border-radius: 3px;
}
.title-type{
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
}
.message-box{
  color: #689e3b;
}
.messageBox-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
}
.public-title,.dashboard-title{
  padding: 35px 0px;
}
.navbar-top-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav-top-section{
  display: flex !important;
  flex-direction: row !important;
}
.navbar-bottom-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav-bottom-section{
  display: flex !important;
  flex-direction: row !important;
}
.navbar-drop.show{
  position: absolute !important;
}
.mesaj-card{
  border: 2px solid green !important;
}
.mesaj-card-footer{
  border-top:2px solid green !important;
}
.message-card{
  padding-bottom: 0 !important;
}
.page-selection-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}
.page-select{
  color: #7cf01d;
  font-weight: 700;
  height: 30px;
  border-color: #7cf01d;
  background: transparent;
}
.btn-pagenation{
  background: transparent !important;
  color: #7cf01d !important;
  font-weight: 700 !important;
  border-color: #7cf01d !important;
}
.btn-pagenation.active {
  background-color: #f95318 !important;
}
#profilImg{
  max-width: 300px !important;
  height: 300px !important;
  width: 100% !important;
  background: green !important;
  display: block;
  margin: 0 auto;
}
.public-profile-img{
  border-radius: 4px;
  border: 3px solid #7cf01d;
}
.img-form-file{
  background: transparent !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
  font-size: 13px !important;
  color: #7cf01d !important;
  width: 200px !important;
  margin: 10px auto !important;
}
.profile-img{
 width: 100%;height: 100%;
 object-fit: cover;
}
.library-btn{
  font-size: 10px !important;
  padding: 0px !important;
  border: none !important;
  outline: none !important;
  color: #f95318;
  background: transparent;
}
.library-btn:hover{
  color: #7cf01d;
}
.library-title{
  color: #7cf01d;
}
.library-div{
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.library-selection{
  background: #494949;
  width: 300px;
  height: 200px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.library-selection:hover{
  background: #383737
}
.library-link{
color: #86c950;
transition: all 0.5s ease-in-out;
font-size: 20px;
}
.library-link:hover {
  color: #7cf01d;
}
.delete-library-title{
  position: absolute;
  right: 0;
  top:0;
  font-size: 12px !important;
  text-decoration: none;
}
.library-detail-title{
  padding: 30px;
  position: relative;
}
.back-library-btn{
  position: absolute;
  bottom: 0;
  left:0;
  font-size: 12px !important;
}
/* custom scroolbar */
/* width */
.title-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.title-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
 
/* Handle */
.title-container::-webkit-scrollbar-thumb {
  background: #494949; 
  border-radius: 10px;
}

/* Handle on hover */
.title-container::-webkit-scrollbar-thumb:hover {
  background: #689e3b;
  cursor: pointer !important;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.register-header {
  position: relative;
  width: 100%;
}
.my-title {
  text-align: center;
}

.posts-container {
  border-bottom: 8px solid black;
  padding: 50px 5%;
  position: relative;
}
.new-post-container,
.edit-post-container {
  height: 500px;
}
.new-post-form,
.edit-post-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.new-todo-input,
.edit-todo-input {
  width: 345px;
  height: 50px;
  padding: 2% !important;
}

.new-textarea,
.edit-textarea {
  padding: 1% !important;
}
.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.new-user-form {
  display: flex;
  flex-direction: column !important;
  width: 400px;
  justify-content: space-around;
  height: 500px;
  align-items: center;
  margin: auto;
}
.edit-info-div{
font-size: 14px;
}


/* mobil css */

@media screen and (max-width:699px) {
  .search-form-sm{
    position: absolute;
    bottom: 5%;
  }
  .dropdown-menu{
    font-size: 12px;
    padding: 0;
    min-width: 5rem;
  }
  .user-info-date,.edit-info-div{
    font-size: 11px;
  }
  .info-dash{
    display: flex;
    font-size: 14px;
  }
  .user-dash-info{
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-around !important;
  }
  .navbar-drop{
    right: 0 !important;
    left: auto !important;
  }
}

@media (orientation: portrait) {
 .edit-info-div{
   float: none !important;
   justify-content: center;
    align-items: flex-end;
 }
 .user-btn-container{
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
 }
}
