<div class="col-md-6 mt-3 title-container d-block mx-auto">
  <ul class="title-ul">
    <% title.forEach(item => { %>
    <li class="title-li">
      <a class="title-a" href="entry/<%= item.contentTitle %>"
        ><%= item.contentTitle %></a
      >
    </li>
    <% }) %>
  </ul>
</div>
