<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 d-block mx-auto">
      <h1 class="my-title">edit page</h1>
      <div class="edit-post-container">
        <form
          class="edit-post-form"
          method="post"
          action="/edit/<%=entry._id%>"
        >
          <label>içerik</label>
          <textarea
            type="text"
            class="text edit-textarea"
            name="entry"
            value=""
            cols="70"
            rows="10"
          ><%=entry.entry%></textarea
          >
          <input
            type="submit"
            class="my-2 btn btn-sm btn-outline-success d-inline"
          />
        </form>
      </div>
    </div>
  </div>
</div>
