<div class="col-md-8 d-block mx-auto">
  <% if (flashMessage != undefined) { %>
    <div id="success-alert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
      <p><%= flashMessage.content %> </p>
      <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
    <h2 class="text-center pt-3"><%= title.replace(/-/g, ' ') %></h2>
    <% if (titleOpen != undefined && titleOpen != '') { %>
      <p class="text-center">Başlığı açan yazar : <a class="user-link" href="/pages/<%=titleOpen.replace(/\s/g ,"-")%>"><%=titleOpen%></a></p>
    <% } %>
    <% if (entry.length <=0) { %>
     <p class="text-center font-italic">Başlığa henüz entry girilmemiş ya da ilk entry silinmiş gibi.</p>
    <% } %>
  <% entry.forEach(entry => { %>
  <div class="card mt-3">
    <div class="card-body entry-content-container card-t">
      <p class="card-title entry-p"><%=entry.entry%></p>
    </div>
    <div class="card-footer text-muted bg-dark card-t">
      <div class="user-btn-container">
        <% if (loggedIn) { %>
          <a class="btn-sm btn-outline-success link-btn" data-toggle="collapse" href="#comment<%=entry._id%>" role="button">
            Yorum Ekle
          </a>
        <% } %>
      <% if (entry.commentArray.length > 0) { %>
        <a class="btn-sm btn-outline-primary link-btn as" data-toggle="collapse" href="#commentList<%=entry._id%>" role="button">
          Yorumlar <small class="comment-length"><%=entry.commentArray.length%></small> 
        </a>
      <% } %>
      <!-- like trigger show here -->
      <% if (entry.likeArray.length > 0) { %>
        <a class="btn-sm btn-outline-primary link-btn as"  data-toggle="collapse" href="#likeList<%=entry._id%>" role="button">
        Beğeniler <small class="comment-length"><%=entry.likeArray.length%></small> 
        </a>
      <% } %>
      <% if (entry.http != '' || entry.httpName != '') { %>
          <a class="btn-sm btn-outline-warning link-btn" data-toggle="collapse" href="#link<%=entry._id%>" role="button">
            Linkler
          </a>
      <% } %>
      <% if (loggedIn) { %>
        <form class="like-form" method="POST" action="/<%=entry._id%>/completed">
          <button class="like-btn mx-2" data-toggle="tooltip" data-placement="bottom" title="Beğendim / Beğenmedim" type="submit"><i class="fas fa-recycle"></i></button>
        </form>
        <form class="like-form" method="POST" action="/library/<%=entry._id%>">
          <button class="library-btn mx-2" data-toggle="tooltip" data-placement="bottom" title="Kütüphaneye Ekle" type="submit"><i class="fas fa-book"></i></button>
        </form>
      <% } %>
      
      </div>
      <div class="collapse mt-3" id="link<%=entry._id%>">
        <div class="bg-collapse p-3 card-t">
          <% if (entry.httpName != '') { %>
            <a class="http-link-a" href="<%=entry.http%>" target="_blank"><%=entry.httpName%></a>
            <% }else {%> 
              <a class="http-link-a" href="<%=entry.http%>" target="_blank">link(no-name)</a>
            <% } %>
        </div>
      </div>
      <div class="collapse mt-3" id="comment<%=entry._id%>">
        <div class="bg-collapse p-3">
         <form method="POST" action="/comment/<%=entry._id%>">
          <textarea class="p-2 d-block mx-auto" name="comment" id="#" cols="60" rows="4" placeholder="comment"></textarea>
          <button class="btn btn-sm btn-outline-secondary btn-comment-post" type="submit">Comment</button>
        </form>
        </div>
      </div>
      <!-- comment list show toggle -->
      <div class="collapse mt-3" id="commentList<%=entry._id%>">
        <div class="bg-collapse p-3 card-t">
          <% entry.commentArray.forEach(comment => { %>
            <div class="comment-container p-2 mt-2">
              <small>yorum sahibi:  </small><a class="user-link" href="/pages/<%= comment.commentNick.replace(/\s/g ,"-")%>"><small><%= comment.commentNick %></small></a> <span class="date-time-container float-right">
                <small><%=comment.commentDate%></small>
                <small><%=comment.commentTime%></small>
              </span><br>
              <p><%= comment.comment %></p>
            </div>
          <% }) %>
        </div>
      </div>
      <!-- like list show toggle -->
      <div class="collapse mt-3" id="likeList<%=entry._id%>">
        <div class="bg-collapse p-3 card-t">
          <% entry.likeArray.forEach(like => { %>
            <div class="comment-container p-2 mt-2">
              <small>+</small><a class="user-link" href="/pages/<%= like.likeNick.replace(/\s/g ,"-")%>"><small><%= like.likeNick %></small></a>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="edit-info-div d-flex mr-2 p-0 float-right">
        <% if (entry.editFlag === true) { %>
          <p class="entry-date"><small>edit: </small></p>
          <p class="entry-date"><small><%= entry.editDate %> / </small></p>
          <p class="entry-date"><small><%= entry.editTime %></small>~</p>
          <% } %>
          <p class="entry-date"><small><%= entry.date %></small> / </p>
          <p class="mr-3 entry-date"><small><%= entry.time %></small></p>
          <a class="user-link" href="/pages/<%= entry.postNick.replace(/\s/g ,"-")%>"><small><%= entry.postNick %></small></a>
          <% if (loggedIn && (userName.user.nick === entry.postNick)){ %>
            <div class="dropdown">
                <button class="btn btn-sm dropdown-btn dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item text-warning" href="/edit/<%=entry._id%>">Düzelt</a>
                    <a class="dropdown-item text-danger" href="/sil/<%=entry.entry%>">Sil</a>
                  
                  </div>
                </div>
          <% }%>
        </div>
    </div>
  </div>
  <% }) %>
  <% if (loggedIn) { %>
    <div class="form-collapse mt-5">
      <button class="btn btn-sm btn-secondary text-white http-btn" onclick="linkFunction()">Http://</button>
      <form class="mx-auto d-block text-center" method="post" action="/entry/<%= title %>">
            <div class="form-group">
                <textarea class="form-control entry-textarea" cols="70" rows="10" ctype="text" placeholder="entry" name="entry"></textarea>
                <input class="d-none" type="text" name="postNick" value="<%= user.nick %>" />
                <input class="d-none" type="text" name="entryTitle" value="<%= title %>" />
                <input class="http-input d-none" type="text" name="http" value="" />
                <input class="http-name d-none" type="text" name="httpName" value="" />
            </div>
          <button class="btn btn-sm btn-success mt-3" type="submit">Gönder</button>
        </form>
    </div>
  <% } %>
</div>
<script>
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})

$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>